{% extends "base.html" %} {% block title %}Password reset complete{% endblock %} {% block content %}
<div class="row row-flex">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p>Your password has been set. You may go ahead and log in now.</p>
        <p><a href="{{ login_url }}">Log in</a></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2 class="header-login">All Done!</h2>
        <h3 class="sub-header-login">Log in to explore and shop!</h3>
        <div>
            <img class="img-responsive center-block" src="/media/images/BEVERAGES-ICONA1-300x300.png" alt="beverages">
            <img class="img-responsive center-block" src="/media/images/food-categoryok-e1527585417645-300x300.png" alt="food">
        </div>
    </div>
</div>
{% endblock %}