{% extends "base.html" %} {% block title %}Password reset successful{% endblock %} {% block content %}
<div class="row row-flex">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
        <p>You should be receiving it shortly.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2 class="header-login">You have received an email in your inbox.</h2>
        <h3 class="sub-header-login">Check your email and follow the instructions! We'll get you up and running in no time!</h3>
        <div>
            <img class="img-responsive center-block" src="/media/images/BEVERAGES-ICONA1-300x300.png" alt="beverages">
            <img class="img-responsive center-block" src="/media/images/food-categoryok-e1527585417645-300x300.png" alt="food">
        </div>
    </div>
</div>
{% endblock %}