{% extends "base.html" %} {% block title %}Setting New password{% endblock %} {% load bootstrap_tags %} {% block content %} {% if validlink %}
<div class="row row-flex">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <form action="" method="post" class="accountform">
            <fieldset class="form-group">
                <legend>Insert New Password</legend>
                <p>Please enter your new password twice.<br /> So we can verify you typed it in correctly.</p>
                {% csrf_token %} {{ form | as_bootstrap}}
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </fieldset>
        </form>
        {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br /> possibly because it has already been used. <br /> Please request a new password reset.</p>
        {% endif %}
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2 class="header-login">Input the new password!</h2>
        <h3 class="sub-header-login">Once the new password is set up you will be able to login and shop again!</h3>
        <div>
            <img class="img-responsive center-block" src="/media/images/BEVERAGES-ICONA1-300x300.png" alt="beverages">
            <img class="img-responsive center-block" src="/media/images/food-categoryok-e1527585417645-300x300.png" alt="food">
        </div>
    </div>
</div>
{% endblock %}