{% extends 'base.html' %} {% block content %}
<div class="container container-fluid">
    <div class="jumbotron">
        <div class="row row-flex">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    {% if eachpost.image  %}
                        <div class="author-image" style="background-image: url('{{ MEDIA_URL }}images/{{ eachpost.image }}')"></div>
                    {% else %}
                        <img src="/media/images/hiclipart.com.png" class="img-circle">
                    {% endif %}
                </a>
                <p><span class="boldtext">Author:</span> {{ eachpost.author }}</p>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>Product Reviewed: {{eachpost.title}}</h3>
                <div class="row row-flex">
                    <div class="col-xs-9">
                        <p>Content: {{eachpost.content}}</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    {% endblock %}