{% extends 'base.html' %} {% block content %}
<div class="container container-fluid">
    <div class="row row-flex">
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h2 class="category-header">Fruit and Vegetables</h2>
                    <ul class="nav nav-pills nav-stacked">

                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Beverages <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu active">
                                <li>
                                    <a href="{% url 'wines' %}">Wines</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav nav-pills nav-stacked">

                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Food <span class="caret"></span>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'dairy' %}">Dairy</a></li>
                                <li><a href="{% url 'cured_meats' %}">Cured Meats</a></li>
                                <li><a href="{% url 'fruit_and_veg' %}">Fruit and Veg</a></li>
                                <li><a href="{% url 'fish_fresh' %}">Fresh Fish and Seafood</a></li>
                                <li><a href="{% url 'fish_frozen' %}">Frozen Fish and Seafood</a></li>
                                <li><a href="{% url 'dry_store' %}">Dry Store</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fruit and Vegetables</li>
                </ol>
            </nav>
            {% for product in products %}
            <div class="col-md-5 col-lg-5 display panel panel-transparent">
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                    <h3>{{ product.name }}</h3>
                    <p class="product-description">{{ product.description }}</p>
                    <form method="GET" action="{% url 'createpost'%}">
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-xs" type="submit">Review</button>
                    </span>
                    </form>
                    <br class="hidden-sm hidden-md hidden-lg">
                    <div class="row row-flex">
                        <div class="col-xs-6">
                            <form class="likebutton" method="POST" action="/products/{{product.id}}/preference/1/">
                                {% csrf_token %}


                                <p>
                                    <button class="btn btn-info btn-xs" type="submit">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like
                                </button>
                                    <span id="likes-{{product.id}}">{{product.likes}}</span>
                                </p>
                            </form>
                        </div>
                        <div class="col-xs-6">
                            <form class="dislikebutton" method="POST" action="/products/{{product.id}}/preference/2/">
                                {% csrf_token %}


                                <p>
                                    <button class="btn btn-info btn-xs" type="submit">
                                    <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                                </button>
                                    <span id="dislikes-{{product.id}}">{{product.dislikes}}</span>
                                </p>
                            </form>
                        </div>
                    </div>
                    <br>
                    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ product.price }}</p>

                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                            <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block script %}

<script>
    $(document).ready(function() {
        $(".likebutton").submit(function(event) {
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var form_data = $(this).serialize(); //Encode form elements for submission

            $.post(post_url, form_data, function(response) {
                $('#likes-' + response.id).text(response.likes);
                $('#dislikes-' + response.id).text(response.dislikes);
            });
        });

        $(".dislikebutton").submit(function(event) {
            event.stopImmediatePropagation();
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var form_data = $(this).serialize(); //Encode form elements for submission

            $.post(post_url, form_data, function(response) {
                $('#likes-' + response.id).text(response.likes);
                $('#dislikes-' + response.id).text(response.dislikes);
            });
        });
    });
</script>

{% endblock %}