{% extends 'base.html' %} {% block content %}
<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-transparent">
        <div class="panel-body">
            <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
            <h3>{{ product.name }}</h3>
            <p class="product-description">{{ product.description }}</p>
            <form method="GET" action="{% url 'createpost'%}">
                <span class="input-group-btn">
                <button class="btn btn-info btn-xs" type="submit">Review</button>
                </span>
            </form>
            <br class="hidden-sm hidden-md hidden-lg">
            <div class="row row-flex">
                <div class="col-xs-6">
                    <form class="likebutton" method="POST" action="/products/{{product.id}}/preference/1/">
                        {% csrf_token %}
                        <p>
                            <button class="btn btn-info btn-xs" type="submit">
                                <span class="glyphicon glyphicon-thumbs-up"></span> Like
                            </button>
                            <span id="likes-{{product.id}}">{{product.likes}}</span>
                        </p>
                    </form>
                </div>
                <div class="col-xs-6">
                    <form class="dislikebutton" method="POST" action="/products/{{product.id}}/preference/2/">
                        {% csrf_token %}
                        <p>
                            <button class="btn btn-info btn-xs" type="submit">
                                <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
                            </button>
                            <span id="dislikes-{{product.id}}">{{product.dislikes}}</span>
                        </p>
                    </form>
                </div>
            </div>
            <br>
            <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ product.price }}</p>
            <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity" required>
                    <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} {% block script %}

<script>
    $(document).ready(function() {
        $(".likebutton").submit(function(event) {
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var form_data = $(this).serialize(); //Encode form elements for submission

            $.post(post_url, form_data, function(response) {
                $('#likes-' + response.id).text(response.likes);
                $('#dislikes-' + response.id).text(response.dislikes);
            });
        });

        $(".dislikebutton").submit(function(event) {
            event.stopImmediatePropagation();
            event.preventDefault(); //prevent default action 
            var post_url = $(this).attr("action"); //get form action url
            var form_data = $(this).serialize(); //Encode form elements for submission

            $.post(post_url, form_data, function(response) {
                $('#likes-' + response.id).text(response.likes);
                $('#dislikes-' + response.id).text(response.dislikes);
            });
        });
    });
</script>

{% endblock %}