{% extends "base.html" %} {% block content %}
<div class="container container-fluid">
    <div class="row row-flex">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div>
                <h2 class="header-profile">Welcome Back to the Store {{user.username}}</h2>

                <h4 class="sub-header-profile">You are Logged in as {{user.first_name}} {{user.last_name}}</h4>
                <h4 class="header-profile">Date joined: {{user.date_joined}}</h4>

                <h4 class="sub-header-profile">Your E-Mail Address: {{user.email}}</h4>
                <h4 class="sub-header-profile">Last Login: {{user.last_login}}</h4>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div>
                <img class="img-responsive center-block" src="/media/images/BEVERAGES-ICONA1-300x300.png" alt="beverages">
                <img class="img-responsive center-block" src="/media/images/food-categoryok-e1527585417645-300x300.png" alt="food">
            </div>
        </div>
    </div>
</div>
{% endblock %}