{% extends "base.html" %} {% load bootstrap_tags %} {% block content %}
<div class="row row-flex">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <form method="post" action="{% url 'register' %}" class="accountform register">
            <fieldset class="form-group">
                <legend>Create a new account</legend>
                <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                {% csrf_token %} {{ user_form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Create account</button>
            </fieldset>
        </form>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h2 class="header-login">Welcome to Luigi's Food shop!</h2>
        <h3 class="sub-header-login">Register and start to enjoy our wonderful products from Italy.</h3>
        <div>
            <img class="img-responsive center-block" src="/media/images/BEVERAGES-ICONA1-300x300.png" alt="beverages">
            <img class="img-responsive center-block" src="/media/images/food-categoryok-e1527585417645-300x300.png" alt="food">
        </div>
    </div>
</div>
{% endblock %}